<ul>
  <% @bookmarks.each do |bookmark|%>
    <li><a href="<%=bookmark.url%>"><%= bookmark.title%></a>
      <div>
        <form action='/bookmarks/delete' method='post'>
        <input type=submit name=delete value='Delete <%=bookmark.title%>'>
        </form>
      </div>
    </li>
  <% end %>
</ul>


<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>


<form action='/bookmarks/new' method='get'>
  <input type='submit' name= 'addbookmarks' value='Creat New Bookmarks'>
</form>

<form action='/' method='get'>
  <input type='submit' name= 'home' value='Home'>
</form>
